/* twikoo */
.tk-tag,
.tk-extras,
.tk-row.actions .tk-action-icon.__markdown,
.tk-preview,
.tk-content p a.at {
	display: none !important;
}

.tk-replies .tk-content {
	font-size: 1em !important;
}

.tk-content img {
	max-width: 100% !important;
	max-height: 100% !important;
	vertical-align: initial !important;
}

.tk-owo-emotion {
	width: 30px;
}

.tk-footer {
	display: none;
}

.dark .OwO .OwO-body {
	background-color: var(--dark-background);
	color: var(--light-background);
}